

* {
    font-family: 'Oswald', sans-serif;
}

@font-face {
    font-family: 'Oswald';
    font-weight: 200;
    src: url('./fonts/Oswald-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 300;
    src: url('./fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 400;
    src: url('./fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 500;
    src: url('./fonts/Oswald-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 600;
    src: url('./fonts/Oswald-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 700;
    src: url('./fonts/Oswald-Bold.ttf') format('truetype');
}