


body{
    /*altura da pagina inteira*/
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ddd;




}

.form-login{
   /*flex basis = tamanho de um flex item*/
   flex-basis: 450px;
}



.login-card .card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.login-card .card-footer{
   display: flex;
   justify-content: end;
 


}